<!DOCTYPE html>
<html>
  <head>  <!-- for title bar, CSS, js, INFO TO RENDER BODY -->
    <title>Personal Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
      #banner{height: 360px
             object-fit:cover;
             width: 100%;
             margin-bottom: 16px; }
    </style>
  </head>
  <body> <!-- what you show on the page -->
    {% include 'nav.html' %}
    <img class = "img-fluid"  id="banner" src= "https://personal-website--akhan98.repl.co/static/banner.jpg">
    <div class = "container" >
      <h1 class ="text-center mt-2 mb-4">{{company_name}} Careers</h1>
      
      <div class="row" style="margin-bottom:16px">
        <div class="col-md-6">
        
      <p class = "lead">Welcome to Khan Tech, a leading and innovative company in the technology industry! At Khan Tech, we take pride in our commitment to excellence, pushing the boundaries of what's possible in software development and data science. We believe that our employees are the cornerstone of our success, and that's why we strive to create an environment that fosters creativity, collaboration, and personal growth.</p>
        </div>
        <div class="d-none d-md-block col-6">
        <img src="/static/people.jpg" style="height:320px; border-radius:4px;">
        </div>
      </div>
      <h2 class ="text-center mt-2">Current Vacancies</h2>
      <div>
        {% for job in jobs %}
          {% include 'jobitem.html' %}
        {% endfor %}
      </div>
      <div class="text-center">
      <a class="btn btn-primary btn-lg" href="mailto:hello@khan.ai?subject=Question%20about%20Job%20Openings&body=My%20name%3A%20%3Cyour%20name%20here%3E%0D%0A%0D%0AMy%20questions%3A%20%3Center%20question%20here%3E">Contact Us</a>
        
      </div>
    </div>
    {% include 'footer.html' %}
  </body>
</html>